* {
    margin: 0;
    padding: 0;
}

.divNav {
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 5px 0px 0px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Times, serif;
    background-color: #000;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.44);

}

nav li a:hover{
    color:rgb(190, 94, 205);
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    display: flex;
}

nav li a{
    color: aliceblue;
    padding: 8px 16px;
    text-decoration: none;
}

nav li.dropdown {
    display: inline-block;
}

nav .dropdown-content {
    display: none; /* Mudar pra display: none */
    position: absolute; /*mantém a lista sobre os outros elementos e fora da <nav>*/
    background-color: #000;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.611);
    z-index: 1;
    color: aliceblue;
    text-decoration: none;
}

nav .dropdown-content a {
    display: block;
    text-align: left;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

/* --------------------NAV FIM -------------------- */

section {
    margin-top: 20px;   
    padding: 20px 100px;
    font-size: 40px;
}